.DS_Store
Thumbs.db
macros/SublimeText2/PicklesFramework/PicklesFrameworkFuncs.pyc
macros/SublimeText2/PicklesFramework/PicklesFrameworkHtmlParts.pyc
macros/SublimeText2/PicklesFramework/PicklesFrameworkHtmlUnits.pyc
